.nav {
  font-size: 2rem;
  color: darkgrey;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.bar {
  width: 31rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.bar a {
  cursor: pointer;
  color: blue;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.bar a:hover {
  background-color: #ece950;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
.brand {
  cursor: pointer;
  color: blue;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.brand:hover {
  background-color: #ece950;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

@media (max-width: 768px) {
  .caja {
    width: 28vh;
  }
}
