.contador {
  width: 45%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color:#ece950;
  padding: 1rem;
  border-radius: 0.5rem;
}

.cantidad {
  font-size: 1.6rem;
  color: black;
  border-style: hidden;
  border-color:#ece950;
}

.contenedor {
  width: 43rem;
  height: 4rem;
  display: flex;
}


.botones {
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  color: white;
  border-style:hidden;
  border-radius: 0.5rem;
  background-color: #ece950;
  cursor: pointer;
}